## Checking the original file's cleanliness

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/Syahirahar/Documents/GitHub/MyDataEngineeringProject/Invistico_Airline.csv')
pd.set_option('display.max_columns', None)

In [3]:
df.head()

,id,satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes,Timestamp,Code,Location
0,212-12-2276,satisfied,Female,Loyal Customer,65.0,Personal Travel,Eco,265.0,0.0,0.0,0.0,2.0,2.0,4.0,2.0,3.0,3.0,0.0,3.0,5.0,3.0,2.0,0.0,0.0,12/4/2021 9:08,DE,Europe/Berlin)
1,304-60-7707,satisfied,Male,Loyal Customer,47.0,Personal Travel,Business,2464.0,0.0,0.0,0.0,3.0,0.0,2.0,2.0,3.0,4.0,4.0,4.0,2.0,3.0,2.0,310.0,305.0,19/4/2021 12:48,RE,Indian/Reunion)
2,832-31-5861,satisfied,Female,Loyal Customer,15.0,Personal Travel,Eco,2138.0,0.0,0.0,0.0,3.0,2.0,0.0,2.0,2.0,3.0,3.0,4.0,4.0,4.0,2.0,0.0,0.0,1/5/2021 8:05,UA,Europe/Kiev)
3,650-80-4379,satisfied,Female,Loyal Customer,60.0,Personal Travel,Eco,623.0,0.0,0.0,0.0,3.0,3.0,4.0,3.0,1.0,1.0,0.0,1.0,4.0,1.0,3.0,0.0,0.0,3/5/2021 9:33,US,America/New_York)
4,721-02-2779,satisfied,Female,Loyal Customer,70.0,Personal Travel,Eco,354.0,0.0,0.0,0.0,3.0,4.0,3.0,4.0,2.0,2.0,0.0,2.0,4.0,2.0,5.0,0.0,0.0,25/4/2021 21:29,ES,Europe/Madrid)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129881 entries, 0 to 129880
Data columns (total 27 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   id                                 129881 non-null  object
 1   satisfaction                       129880 non-null  object
 2   Gender                             129880 non-null  object
 3   Customer Type                      129880 non-null  object
 4   Age                                129880 non-null  float64
 5   Type of Travel                     129880 non-null  object
 6   Class                              129880 non-null  object
 7   Flight Distance                    129880 non-null  float64
 8   Seat comfort                       129880 non-null  float64
 9   Departure/Arrival time convenient  129880 non-null  float64
 10  Food and drink                     129880 non-null  float64
 11  Gate location                      129880 non-null  float64
 12  Inflight wifi service              129880 non-null  float64
 13  Inflight entertainment             129880 non-null  float64
 14  Online support                     129880 non-null  float64
 15  Ease of Online booking             129880 non-null  float64
 16  On-board service                   129880 non-null  float64
 17  Leg room service                   129880 non-null  float64
 18  Baggage handling                   129880 non-null  float64
 19  Checkin service                    129880 non-null  float64
 20  Cleanliness                        129880 non-null  float64
 21  Online boarding                    129880 non-null  float64
 22  Departure Delay in Minutes         129880 non-null  float64
 23  Arrival Delay in Minutes           129487 non-null  float64
 24  Timestamp                          129881 non-null  object
 25  Code                               129881 non-null  object
 26  Location                           129881 non-null  object
dtypes: float64(18), object(9)
memory usage: 26.8+ MB

In [5]:
df.columns

Index(['id', 'satisfaction', 'Gender', 'Customer Type', 'Age',
       'Type of Travel', 'Class', 'Flight Distance', 'Seat comfort',
       'Departure/Arrival time convenient', 'Food and drink', 'Gate location',
       'Inflight wifi service', 'Inflight entertainment', 'Online support',
       'Ease of Online booking', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Cleanliness', 'Online boarding',
       'Departure Delay in Minutes', 'Arrival Delay in Minutes', 'Timestamp',
       'Code', 'Location'],
      dtype='object')

In [6]:
df = df[['satisfaction', 'Customer Type', 'Age',
       'Type of Travel', 'Class', 'Flight Distance', 'Seat comfort',
       'Departure/Arrival time convenient', 'Food and drink', 'Gate location',
       'Inflight wifi service', 'Inflight entertainment', 'Online support',
       'Ease of Online booking', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Cleanliness', 'Online boarding',
       'Departure Delay in Minutes', 'Arrival Delay in Minutes', 'Timestamp',
       'Code', 'Location']]

In [7]:
(df.duplicated().value_counts()/df.shape[0])*100

False    100.0
dtype: float64

## Merge ori and fake_generated_data

In [8]:
airline_data = df

In [9]:
fake_data = pd.read_csv('C:/Users/Syahirahar/Documents/GitHub/MyDataEngineeringProject/generate_fake_data.csv')

In [10]:
result = pd.concat([airline_data,fake_data], axis=1)

In [11]:
result.head()

,satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes,Timestamp,Code,Location,Unnamed: 0,customer_id,flight_id,review_id,timestamp,Names,Gender,Destination
0,satisfied,Female,Loyal Customer,65.0,Personal Travel,Eco,265.0,0.0,0.0,0.0,2.0,2.0,4.0,2.0,3.0,3.0,0.0,3.0,5.0,3.0,2.0,0.0,0.0,12/4/2021 9:08,DE,Europe/Berlin),0,615-40-9709,K9709,87625,1970-01-01 04:50:32,Tosha Spinka,NaN,Kolkata
1,satisfied,Male,Loyal Customer,47.0,Personal Travel,Business,2464.0,0.0,0.0,0.0,3.0,0.0,2.0,2.0,3.0,4.0,4.0,4.0,2.0,3.0,2.0,310.0,305.0,19/4/2021 12:48,RE,Indian/Reunion),1,268-37-7407,K7407,61760,1970-01-01 04:48:58,Annabell Shanahan,NaN,Kolkata
2,satisfied,Female,Loyal Customer,15.0,Personal Travel,Eco,2138.0,0.0,0.0,0.0,3.0,2.0,0.0,2.0,2.0,3.0,3.0,4.0,4.0,4.0,2.0,0.0,0.0,1/5/2021 8:05,UA,Europe/Kiev),2,461-28-6385,K6385,87298,1970-01-01 04:47:20,Lynn Schinner,NaN,Kolkata
3,satisfied,Female,Loyal Customer,60.0,Personal Travel,Eco,623.0,0.0,0.0,0.0,3.0,3.0,4.0,3.0,1.0,1.0,0.0,1.0,4.0,1.0,3.0,0.0,0.0,3/5/2021 9:33,US,America/New_York),3,169-60-5094,K5094,31861,1970-01-01 04:50:01,Lyndsay Graham,NaN,Kolkata
4,satisfied,Female,Loyal Customer,70.0,Personal Travel,Eco,354.0,0.0,0.0,0.0,3.0,4.0,3.0,4.0,2.0,2.0,0.0,2.0,4.0,2.0,5.0,0.0,0.0,25/4/2021 21:29,ES,Europe/Madrid),4,185-57-1887,K1887,106372,1970-01-01 04:46:46,Liza Bruen,NaN,Kolkata

In [12]:
result.columns

Index(['satisfaction', 'Gender', 'Customer Type', 'Age', 'Type of Travel',
       'Class', 'Flight Distance', 'Seat comfort',
       'Departure/Arrival time convenient', 'Food and drink', 'Gate location',
       'Inflight wifi service', 'Inflight entertainment', 'Online support',
       'Ease of Online booking', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Cleanliness', 'Online boarding',
       'Departure Delay in Minutes', 'Arrival Delay in Minutes', 'Timestamp',
       'Code', 'Location', 'Unnamed: 0', 'customer_id', 'flight_id',
       'review_id', 'timestamp', 'Names', 'Gender', 'Destination'],
      dtype='object')

In [13]:
final_result = result[['customer_id','review_id','flight_id','Names','Gender','Customer Type', 'Age',
       'Type of Travel', 'Class', 'Flight Distance', 'Seat comfort',
       'Departure/Arrival time convenient', 'Food and drink', 'Gate location',
       'Inflight wifi service', 'Inflight entertainment', 'Online support',
       'Ease of Online booking', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Cleanliness', 'Online boarding',
       'Departure Delay in Minutes', 'Arrival Delay in Minutes', 'Timestamp',

       'Destination']]

In [14]:
final_result = final_result.rename({'Type of Travel':'type_of_travel','Customer Type':'cust_type','Flight Distance':'flight_distance','Seat comfort':'seat_comfort',
                            'Departure/Arrival time convenient' : 'deptarrive_time_convenient', 'Food and drink':'food_drink', 'Gate location':'gate_location',
       'Inflight wifi service': 'inflight_wifi', 'Inflight entertainment' : 'inflight_ent', 'Online support' :'online_support',
       'Ease of Online booking': 'easy_online_booking', 'On-board service':'onboard_service', 'Leg room service': 'legroom',
       'Baggage handling': 'baggage_handling', 'Checkin service' : 'checking_service', 'Cleanliness':'cleanliness', 'Online boarding' : 'online_boarding',
       'Departure Delay in Minutes': 'dept_delay_min', 'Arrival Delay in Minutes': 'arrival_delay_min'}, axis = 1)

In [15]:
final_result.head()

,customer_id,review_id,flight_id,Names,Gender,Gender,cust_type,Age,type_of_travel,Class,flight_distance,seat_comfort,deptarrive_time_convenient,food_drink,gate_location,inflight_wifi,inflight_ent,online_support,easy_online_booking,onboard_service,legroom,baggage_handling,checking_service,cleanliness,online_boarding,dept_delay_min,arrival_delay_min,Timestamp,Destination
0,615-40-9709,87625,K9709,Tosha Spinka,Female,NaN,Loyal Customer,65.0,Personal Travel,Eco,265.0,0.0,0.0,0.0,2.0,2.0,4.0,2.0,3.0,3.0,0.0,3.0,5.0,3.0,2.0,0.0,0.0,12/4/2021 9:08,Kolkata
1,268-37-7407,61760,K7407,Annabell Shanahan,Male,NaN,Loyal Customer,47.0,Personal Travel,Business,2464.0,0.0,0.0,0.0,3.0,0.0,2.0,2.0,3.0,4.0,4.0,4.0,2.0,3.0,2.0,310.0,305.0,19/4/2021 12:48,Kolkata
2,461-28-6385,87298,K6385,Lynn Schinner,Female,NaN,Loyal Customer,15.0,Personal Travel,Eco,2138.0,0.0,0.0,0.0,3.0,2.0,0.0,2.0,2.0,3.0,3.0,4.0,4.0,4.0,2.0,0.0,0.0,1/5/2021 8:05,Kolkata
3,169-60-5094,31861,K5094,Lyndsay Graham,Female,NaN,Loyal Customer,60.0,Personal Travel,Eco,623.0,0.0,0.0,0.0,3.0,3.0,4.0,3.0,1.0,1.0,0.0,1.0,4.0,1.0,3.0,0.0,0.0,3/5/2021 9:33,Kolkata
4,185-57-1887,106372,K1887,Liza Bruen,Female,NaN,Loyal Customer,70.0,Personal Travel,Eco,354.0,0.0,0.0,0.0,3.0,4.0,3.0,4.0,2.0,2.0,0.0,2.0,4.0,2.0,5.0,0.0,0.0,25/4/2021 21:29,Kolkata

In [16]:
final_result.dtypes

customer_id                    object
review_id                       int64
flight_id                      object
Names                          object
Gender                         object
Gender                        float64
cust_type                      object
Age                           float64
type_of_travel                 object
Class                          object
flight_distance               float64
seat_comfort                  float64
deptarrive_time_convenient    float64
food_drink                    float64
gate_location                 float64
inflight_wifi                 float64
inflight_ent                  float64
online_support                float64
easy_online_booking           float64
onboard_service               float64
legroom                       float64
baggage_handling              float64
checking_service              float64
cleanliness                   float64
online_boarding               float64
dept_delay_min                float64
arrival_delay_min             float64
Timestamp                      object
Destination                    object
dtype: object

In [17]:
final_result.to_csv('final_result.csv')

PermissionError: [Errno 13] Permission denied: 'final_result.csv'